$mfers-bg-blue: #5dd3ff;
$mfers-bg-green: #cafe80;
$mfers-bg-orange: #ffb470;
$mfers-bg-red: #ff7077;
$mfers-bg-yellow: #ffe260;
$mfers-bg-white: #F3FEFF;

$font-script: 'Sartoshi Script';
$font-main: 'Comic Neue';

$color-bg: $mfers-bg-white;
$color-text: #111;
$color-link: dodgerblue;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
