// this is the main styles file!

@import 'typography';
@import 'variables';

//~*~*~ media query paste-ables ~*~*~
// @media (min-width: $breakpoint-sm) {
// 	/**/
// }

// @media (min-width: $breakpoint-md) {
// 	/**/
// }

// @media (min-width: $breakpoint-lg) {
// 	/**/
// }

// @media (min-width: $breakpoint-xl) {
// 	/**/
// }

// --- RESETS ---
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-family: $font-main;
	color: $color-text;
	background: $color-bg;

	@media (min-width: $breakpoint-sm) {
		font-size: 16px;
	}
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		opacity: 0.9;
	}
}

// --- SHARED ---
.container {
	max-width: 100%;
	padding-right: 2rem;
	padding-left: 2rem;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: $breakpoint-sm) {
		max-width: calc($breakpoint-sm * 0.94);
	}
	@media (min-width: $breakpoint-md) {
		max-width: calc($breakpoint-md * 0.94);
	}
	@media (min-width: $breakpoint-lg) {
		max-width: calc($breakpoint-lg * 0.94);
	}
	@media (min-width: $breakpoint-xl) {
		max-width: calc($breakpoint-xl * 0.94);
	}
}

// --- LAYOUT ---
.layout-wrapper {
	position: relative;
	min-height: 100vh;
}

.main-nav {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.5rem 0;
	border-bottom: 0.2em solid $color-text;

	.nav-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-brand a {
		font-size: 1.25rem;
		font-weight: bold;
		letter-spacing: -0.03em;
		color: $color-text;
	}

	ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;

		li:not(:last-child) {
			margin-right: 2rem;
		}

		a {
			letter-spacing: -0.03em;
			color: $color-text;
		}
	}
}

.new-nav {
	box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.06);
}

// --- HOME PAGE ---
.home-content {
	height: 38vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-title {
	margin-bottom: 2rem;
	text-align: center;

	h1,
	p {
		margin-left: 16px;
		margin-right: 16px;
		line-height: 1.5em;
	}

	h1 {
		font-size: 4rem;
		font-family: $font-main;
		letter-spacing: -0.02em;
		font-weight: 700;

		@media (min-width: $breakpoint-md) {
			font-size: 5rem;
		}
	}

	p {
		letter-spacing: -0.03em;
		font-family: $font-main;
		@media (min-width: $breakpoint-md) {
			font-size: 1.5rem;
		}
	}
}

.home-links {
	width: 22rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

	@media (min-width: $breakpoint-md) {
		width: 32rem;
	}

	& img {
		width: 2.8rem;

		@media (min-width: $breakpoint-md) {
			width: 4rem;
		}
	}
}

.mfer-pic {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 25%;
	line-height: 0;
}

.nav-bar-background-color {
	background-color: white;
}

.nav-link {
	color: #0c0b0b;
}

@mixin white-gradient {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

$animationSpeed: 95s;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-144px * 14));
	}
}

@keyframes scroll-right {
	0% {
		transform: translateX(-144px * 14);
	}
	100% {
		transform: translateX(calc(0));
	}
}

// Styling
.slider {
	background: $color-bg;
	overflow: hidden;
	position: relative;

	&::before,
	&::after {
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(120px * 28);
	}

	.slide-track-right {
		animation: scroll-right $animationSpeed linear infinite;
		display: flex;
		width: calc(120px * 28);
	}

	.slide {
		height: 120px;
		width: 120px;
		img {
			border-radius: 12px;
			height: 120px;
			width: 120px;
		}
		margin: 12px;
	}
}

.card-props {
	font-family: $font-main;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	color: inherit;
}

.spacing {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.what-are-mfers {
	box-shadow: 0px 6px 20px 2px rgba(0, 0, 0, 0.06);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.rotate {
	animation: rotation 4s infinite linear;
}

@media only screen and (max-width: 600px) {
	.icon-nav-bar {
		display: flex !important;
		flex-direction: row !important;
	}

	.icon-nav-bar a:first-child {
		padding-left: 0px !important;
	}

}

@media only screen and (max-height: 700px) {

}

a {
	font-size: 24px;
}
p {
	font-size: 24px;
}

li {
	font-size: 16px !important;
}

.main {
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}