@import '../variables';

.titleSection {
	margin-bottom: 2rem;
	text-align: center;

	h1,
	p {
		margin: 0;
		line-height: 1.5em;
		letter-spacing: -0.03em;
	}

	h1 {
		font-size: 3rem;
		font-family: $font-header;

		@media (min-width: $breakpoint-md) {
			font-size: 5rem;
		}
	}

	p {
		font-size: 1rem;

		@media (min-width: $breakpoint-md) {
			font-size: 1.65rem;
		}
	}
}

.linkGroup {
	width: 15rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.mferPic {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 25%;
	line-height: 0;
}
