$text-color: #111;
$bg-color: #ffb470;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


//~*~*~ media query paste-ables ~*~*~

// @media (min-width: $breakpoint-sm) {
// 	/**/
// }

// @media (min-width: $breakpoint-md) {
// 	/**/
// }

// @media (min-width: $breakpoint-lg) {
// 	/**/
// }

// @media (min-width: $breakpoint-xl) {
// 	/**/
// }
