@import 'variables';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-family: $font-body;
	color: $text-color;
	background: $bg-color;

	@media (min-width: $breakpoint-sm) {
		font-size: 16px;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		opacity: 0.9;
	}
}
